*{
    background-color: rgb(0, 0, 0);
    color: rgb(223, 53, 23);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    color: rgb(203, 7, 7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}