*{
    background-color: rgb(0, 0, 0);
    color: rgb(223, 53, 23);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
    color: rgb(203, 7, 7);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
body{
    background-image: url(https://i.pinimg.com/originals/5f/f5/e2/5ff5e2db1081207b2d94a2a2f89aa200.jpg);
}