body {
    background-color: #000; /* Negro */
    color: #fff; /* Texto blanco */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #333; /* Fondo oscuro */
}

h3 {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
    border: 2px solid #ff0000; /* Rojo (neón) */
    border-radius: 5px;
    padding: 20px;
    background-color: #222; /* Fondo oscuro */
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
}

input[type="date"] {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #ff0000; /* Rojo (neón) */
    background-color: #444; /* Fondo más oscuro */
    color: #fff;
    font-size: 1rem;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff0000; /* Rojo (neón) */
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #cc0000; /* Rojo (neón) más oscuro al pasar el ratón */
}

#ef {
    font-size: 1.2rem;
    margin-top: 20px;
}
