
nav{
    background-color: white;
    overflow: hidden;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.menu{
    display: flex;
}
nav a{
    color: #333;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
nav a:hover{
    background-color: #333;
    color: white;
}
.logo{
    margin-left: auto;
    right: 20px;
    max-width: 100px;
    left: auto;
    position: absolute;
}
body{
    padding-top: 46.4px;
    background-color: #333;
}
:target::before{
    content: "";
    display: block;
    height: 46.4px;
    margin: 46.4px 0 0;
}
.s1{
    background-color: #333;
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
    color: white;
}
.s2{
    background-color: #333;
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}
.s3{
    background-color: #333;
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}
.s4{
    background-color: #333;
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}
.s5{
    background-color: #333;
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}
.c1{
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
}
.c2{
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
}
.c4{
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
}
.c5{
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
}
.c1 img{
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;

}
.c3{
    color: white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
}
.c3 img{
    max-width: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.c4 img{
    max-width: 35%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.c5 img{
    max-width: 35%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.c2 input[type="checkbox"]{
    display: none;
}
.c2 .pan{
    display: none;
}
.pan img{
    max-width: 100px;
    height: auto;
}
.toggle-apa:checked ~ .pan{
    display: block;
}
.apa{
    background-color: #9d9d9d90;
    color: white;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    display: block;
    width: 200px;
    text-align: center;
}
.c2 .flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.c2 .flex-container img{
    margin: 5px;
    max-width: calc(15% - 10px);
    height: auto;
}
.apa:hover{
    background-color: white;
    color: #333;
}
.sp{
    align-items: center;
}
