*{
    margin: 0;
	background-color: #090909;
    padding: 0;
}
.menu img{
	width: 200px;
	height: 180px;
	margin-left: 40px;
}
.Autor{
	background-color: antiquewhite;
}
.Autor img{
	width: 450px;
	height: 800px;
	margin-left: 50px;
	margin-bottom: 50px;
	margin-top: 50px;
}